*.pyc
_build
install-vaspy.txt
testPOSCAR
*.ipynb
dist
MANIFEST
build
vaspwfc.py
a.out
GCOEFF.txt
WAVECAR
Results.txt
WaveTrans
.coverage
test/vaspy/htmlcov
nosetests.xml
vaspy/typings
.ropeproject
typings/nptyping
typings
typing
